body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    color: red;
}

.header {
    color: white;
    display: flex;
    align-items: center; 
    background-color: #1f2937;
}

a {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: end;
}

button {
    background-color: #3882f6;
    color: white;
}

.hero {
    display: flex;
}

.website {
    font-weight: 48px;
}
